.userPhoto {
    width: 80px !important;
    height: 80px !important;
}

.selectedPage {
    font-weight: bold;
}

.pagination {
    cursor: pointer;
    overflow-wrap: anywhere;
}

.pagination span {
    margin-left: 10px;
}

.users img{
    cursor: help;
}

.name {
    padding-top: 10px;
    padding-bottom: 10px;
}

.userBlock {
    width: 100px;
    max-width: 250px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
}