* {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  gap: 5px;
  grid-template-areas: 'header header' 'nav content';
}