* {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  gap: 5px;
  grid-template-areas: 'header header' 'nav content';
}

.app-wrapper-content {
    grid-area: content;
    background: linear-gradient(to right, blueviolet, rgb(165, 22, 129));
}

.app-wrapper-content img {
    height: 500px;
}

.app-wrapper-content > div {
    padding: 10px 10px 10px 10px;
}